<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form id="form" action="#" th:action="@{/displayCustomer}" th:object= "${customer}" method="post">
    <p>Name: <input name="nameInput" type="text" th:field="*{firstName}" /></p>
    <p><button id="input" type="submit" value="Submit">Submit</button> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>
