<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:xmlsn="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlsn:th="http://www.thymeleaf.org">

<head>

    <title>Bootiful Reservations </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7-1/css/bootstrap-jsf.css" />
    <script th:inline="javascript">

        function myFunction(content) {
            console.log(content);
            httpGetAsync("http://localhost:8080/api/search?content=" + content, myCallBack);
        }

        function myCallBack(response) {

            var table = document.getElementById("customerTable");

            var length = table.rows.length - 1;
            while(length > 0) {
                table.deleteRow(length);
                length--;
            }

            response.forEach(function (customer) {
                var row = table.insertRow(table.rows.length);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                var cell4 = row.insertCell(3);
                var cell5 = row.insertCell(4);
                var cell6 = row.insertCell(5);
                cell1.innerHTML = customer.id;
                cell2.innerHTML = customer.firstName;
                cell3.innerHTML = customer.creationDate;
                cell4.innerHTML = customer.updatedDate;

                addLink(cell5, '/deleteCustomer/', "Delete Customer", customer);
                addLink(cell6, '/editCustomer/', "Edit Customer", customer);
            });
        }

        function addLink(cell, url, text, customer) {
            var link = document.createElement("a");
            var linkText = document.createTextNode(text);
            link.appendChild(linkText);
            link.setAttribute('title', "lugerwer");
            link.setAttribute('href',url + customer.id);
            cell.appendChild(link);
        }

        function httpGetAsync(theUrl, callback) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState == 4) {
                    if (xmlHttp.status == 200) {
                        callback(JSON.parse(xmlHttp.responseText));
                    }
                }
            };
            xmlHttp.open("GET", theUrl, true); // true for asynchronous
            xmlHttp.send(null);
        }
    </script>
</head>

<body class="container">
<H1>Customers</H1>

<h2>Search for: </h2>
<form>
    <!--<form action="#" th:action="@{/findCustomer}" method="post">-->
    <p>Name: <input class="searchName" oninput="myFunction(this.value)" type="text" name="searchName" id="myInput"/>
    </p>
    <!--<p><input type="submit" value="Submit"/></p>-->
</form>

<table id="customerTable" class="search-table table">

    <tr>
        <th>ID:</th>
        <th>Name:</th>
        <th>Created on:</th>
        <th>Edited on:</th>
    </tr>
    <tr th:each="c : ${customers}">
        <td><b th:text="${c.id}">ID</b></td>
        <td><span th:text="${c.firstName}">Reservation Name</span></td>
        <td><span
                th:text="${#dates.format(new java.util.Date(c.creationDate), 'yyyy-MM-dd HH:mm:ss')}">Created On</span>
        </td>
        <td><span th:text="${#dates.format(new java.util.Date(c.updatedDate), 'yyyy-MM-dd HH:mm:ss')}">Edited On</span>
        </td>
        <td><a th:href="@{/deleteCustomer/} + ${c.id}">Delete Customer</a></td>
        <td><a th:href="@{/editCustomer/} + ${c.id}">Edit Customer </a></td>
    </tr>
</table>

<div id="test">

</div>

</body>
</html>
