<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:out="http://www.w3.org/1999/xhtml"
      th:include="navbarHeader :: page">
<div th:fragment="content">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7-1/css/bootstrap-jsf.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
    <h1>Form</h1>
    <form id="form" action="#" th:action="@{/displayCustomer}" th:object="${customer}" method="post">
        <p>Name: <input name="nameInput" type="text" class="form-control" th:field="*{firstName}"/></p>
        <p>
            <button style="color: green" id="input" class="btn btn-default" type="submit" value="Submit">Submit</button>
            <input type="reset" value="Reset" class="btn btn-danger"/></p>
    </form>
</div>

</html>
