<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:include="navbarHeader :: page">
<div th:fragment="content">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7-1/css/bootstrap-jsf.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
    <h1>Result</h1>
    <p th:text="'id: ' + ${customer.id}"/>
    <p th:text="'Name: ' + ${customer.firstName}"/>
    <p>Created on:
        <span
            th:text="${#dates.format(new java.util.Date(customer.creationDate), 'dd-MM-yyyy HH:mm:ss')}">Created On</span>
    </p>
    <br/>
    <style>
        a.button {
            -webkit-appearance: button;
            -moz-appearance: button;
            appearance: button;

            text-decoration: none;
            color: initial;
        }
    </style>
    <a href="/customerForm" class="btn btn-default"> Create another Customer </a>
</div>
</html>
