<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:xmlsn="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      th:include="navbarHeader :: page"
      xmlsn:th="http://www.thymeleaf.org">
<div th:fragment="content">
<head>
    <title>Edit </title>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7-1/css/bootstrap-jsf.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
    <h1>Edit</h1>
    <p th:text="'id: ' + ${customer.id}"/>
    <p th:text="'Name: ' + ${customer.firstName}"/>
    <p th:text="'Created on:' + ${customer.creationDate}"/>

    <form action="#" th:action="@{/updateCustomer/} + ${customer.id}" th:object="${customer}" method="post">
        <p>Name: <input type="text" th:field="*{firstName}"/></p>
        <p><input type="submit" value="Submit"/></p>
    </form>
</div>
</html>
